<div class ="filters">
  <!--SELECT BOX SORT BY:-->

  <mat-form-field>

    <mat-label>sort</mat-label>

    <mat-select

      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="fetchGames(sort)"
      >    <!-- EventBINDING:every time we click new selction the sort : string took it-->
      <mat-option value="name">Name</mat-option>
      <mat-option value="released"> Released</mat-option>
      <mat-option value="added"> Added</mat-option>
      <mat-option value="created">Created Date</mat-option>
      <mat-option value="updated">Updated</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>

    </mat-select>

  </mat-form-field>


</div>
  <!--Game Cards-->
<!--Game Array of games-->
  <div class="games">
    <ng-container *ngFor="let i of game">
    <!--IMAGE-->
          <div class="game" (click)="openGameDetails(i.id)">
            <div class="game-thumb-container">
            <img
              *ngIf="i.background_image"

                src="{{i.background_image}}"
                alt="thumbnail"
                class="game-thumbnail" />

              <p *ngIf="!i.background_image">ERROR 404</p>
          </div>
          <!--DESCRIPTION-->
          <div class="game-description">
            <!--NAME GAME-->
            <p class="game-name">{{ i.name }}</p>
            <!--PLATFORM-->
            <div class="game-platforms">
              <img src="https://media.gqmagazine.fr/photos/5ebacf2883f12a4c1cd796f2/master/pass/PlayStation.png"
              alt="slug"
              class="game-platform" />
            </div>

          </div>
    </div>
    </ng-container>
  </div>


