<div class="search-container">
  <form class="search-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <!-- Login-->
    <span class="logo" routerLink="/">GAMES+</span>
    <!--input data-->
    <!-- variable that should be attached NgModule else ngForm want buy attention-->
    <input
      class ="search-input"
      class ="search-input"
      name="search"
      placeholder="500,000+ game"
      type="search"  [(ngModel)]="search"

    />
    <!--Submit data-->
    <button class="search-button">search</button>
  </form>
</div>
